<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>KMA Schedule Generator</display-name>
    <servlet>
        <servlet-name>ScheduleGeneratingServlet</servlet-name>
        <servlet-class>org.lonewolf2110.kma.schedule.servlets.GeneratingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleCleanServlet</servlet-name>
        <servlet-class>org.lonewolf2110.kma.schedule.servlets.CleanServlet</servlet-class>
    </servlet>
    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>ScheduleGeneratingServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleCleanServlet</servlet-name>
        <url-pattern>/clean</url-pattern>
    </servlet-mapping>
</web-app>
